<title>{{ page_title }}: Gaia Herbs®</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ page_description | escape }}">
{% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
<link rel="canonical" href="{{ canonical_url }}">
<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">

<link rel="stylesheet" href="{{- 'theme.css' | asset_url -}}" />
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
<link rel="stylesheet" href="https://use.typekit.net/luo7xuz.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% render 'boost-pfs-style' %}




{% assign social_type = 'website' %}
{% assign social_title = page_title | strip_html | escape %}
{% assign social_description = page_description | strip_html | escape %}
{% assign social_image = page_image | img_url: '1024x' %}

{% if template contains 'product' %}
  {% assign social_type = 'product' %}
  {% assign social_title = product.title | strip_html | escape %}
  {% assign social_price = product.price | money_without_currency | strip_html | escape %}
  {% assign social_currency = shop.currency %}
  {% if product.featured_image %}
    {% assign social_product_img = current_variant.featured_image | default: product.featured_image %}
    {% assign social_image = social_product_img | img_url: '1024x' %}
  {% endif %}
{% elsif template contains 'collection' %}
  {% if collection.description != blank %}
    {% assign social_description = collection.description | strip_html | escape %}
  {% endif %}
  {% if collection.image %}
    {% assign social_image = collection.image | img_url: '1024x' %}
  {% endif %}
{% elsif template contains 'blog' %}
  {% for article in blog.articles %}
    {% if article.image %}
      {% assign social_image = article.image | img_url: '1024x' %}
      {% break %}
    {% endif %}
  {% endfor %}
{% elsif template contains 'article' %}
  {% assign social_type = 'article' %}
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.image %}
    {% assign social_image = article.image | img_url: '1024x' %}
  {% elsif article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% assign social_image = src %}
  {% endif %}
{% endif %}

{% comment %}
  Page-level Overrides
  Override variable assignments below this
  using `template contains` and similar operators.
{% endcomment %}

<meta name="description" content="{{social_description | default: shop.name}}" />
<meta property="og:url" content="{{canonical_url}}">
<meta property="og:site_name" content="{{shop.name}}">
<meta property="og:type" content="{{social_type | default: 'website'}}">
<meta property="og:title" content="{{social_title | default: shop.name}}">
<meta property="og:description" content="{{social_description | default: shop.name}}">
<meta property="og:image" content="http:{{social_image}}">
<meta property="og:image:secure_url" content="https:{{social_image}}">
{% if social_price %}<meta property="og:price:amount" content="{{social_price}}">{% endif %}
{% if social_currency %}<meta property="og:price:currency" content="{{social_currency}}">{% endif %}

<meta name="twitter:title" content="{{social_title | default: shop.name}}">
<meta name="twitter:description" content="{{social_description | default: shop.name}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https:{{social_image}}">
<meta name="twitter:image:width" content="480">
<meta name="twitter:image:height" content="480">