<article class="product-tile">
  <a href="{{- product.url -}}">
    <div class="product-tile__image-wrap">
      <img class="product-tile__image"
           io-img-src="{{- product.featured_image | img_url: '550x' -}}"
           alt="{{- product.featured_image.alt -}}" />
    </div>
    <h2 class="product-tile__title">{{- product.title -}}</h2>
    {%- render 'product-bottom-line', product: product -%}
    <div class="product-tile__content">{{- product.description -}}</div>
    <div class="product-tile__price">{{- product.price | money -}}</div>
  </a>
  {%- unless _product.tags contains 'badge-out-of-stock' or _product.tags contains 'badge-discontinued' -%}
    <button class="button button--secondary button--wide button--small product-tile__quickshop-trigger"
            data-quickbuy-trigger="{{- product.handle -}}">
      + Quick Buy
    </button>
  {%- endunless -%}
</article>